* {
  box-sizing: border-box;
}
.warmper {
  justify-content: space-evenly;
  display: flex;
  margin: 5% auto;
  padding: 0 10%;
  text-transform: capitalize;
  color: white;
}
.box {
  height: 410px;
  width: 300px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  background: #00549e;
  border-radius: 10px;
  border-style: inset;
}
.box img {
  margin-bottom: 5px;
  width: 200px;
  filter: drop-shadow(0px 0px 3px);
}
.box h3 {
  color: rgb(255, 255, 255);
  padding: 5spx 0;
  font-size: 25px;
  margin-bottom: 10px;
}
.box ul {
  margin-top: 10px;
}
.box li {
  margin-left: 20px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: left;
  line-height: 1.6;
}
.our-futures {
  font-size: 24px;
  margin-top: 100px;
  text-align: center;
}
